<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
    <li>R</li>
    <li>Python</li>
    <li>SQL</li>
    </ol>

Some of the commonly used libraries used by Data Scientists include:
    <ol>
    <li>TensorFlow</li>
    <li>Pandas</li>
    <li>NumPy</li>
    </ol>

<table>
  <thead>
    <tr>
      <th>Data Science Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Anaconda</td>
    </tr>
    <tr>
      <td>Jupyter Notebook</td>
    </tr>
    <tr>
      <td>R Studio</td>
    </tr>
  </tbody>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
<ul>
  <li>Add comments the code cell</li>
  <li>Create a markdown cell</li>
  <li>Add order and unordered list in the markdown cell</li>
</ul>

<h2>Author</h2>
ALI IJAZ